html {
  font-family: 'Press Start 2P', cursive !important;
  background-color: #efe8e6;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  background-color: #800b09;
}

nav a {
  color: #fffc4a !important;
}

nav .brand-logo {
  height: 64px;
  color: #fffc4a;
}

nav img {
  height: 48px;
  margin-top: 8px;
}

main {
  flex: 1 0 auto;
  height: 100%;
}

.row {
  width: 100%;
  margin-bottom: 0;
}

.page-footer {
  padding: 0;
  background-color: #800b09;
  color: #fffc4a;
  height: 32px;
}

.page-footer .progress {
  height: 32px;
  margin: 0;
  background-color: #800b09;
}

.page-footer .progress .determinate {
  background-color: red;
}

.progress {
  text-align: center;
  line-height: 32px;
}

#timer {
  position: absolute;
  transform: translateX(-50%);
}

.chart {
  flex: inherit;
  width: 100%;
  height: 100%;
}

#stage4input input {
  font-size: 25px;
  font-family: 'Press Start 2P', cursive !important;
  text-align: center;
}

#stage4input h3 {
  margin-bottom: 10px;
}

#stage1input input {
  font-size: 50px;
  font-family: 'Press Start 2P', cursive !important;
  text-align: center;
  background: white;
  height: 100px;
}
